@model HighMaintenance.Models.APPXINVESTIDOR

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>APPXINVESTIDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.APLICACOES.APP_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APLICACOES.APP_NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVESTIDOR.INV_NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVESTIDOR.INV_NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPIN_VALORINVESTIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPIN_VALORINVESTIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPIN_VALORRETIRADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPIN_VALORRETIRADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.APPIN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
